body{
    background-image: linear-gradient(BLACK,darkblue,gray);
    color:white;
    
}
img{
    height:150px;
    width:180px;
    position: flex;
    float:right;
    border-radius: 10px;;
}
iframe{
    height:150px;
    width:150px;
    position:relative;
    border-radius: 10px;
}
header{
    text-align: right;
    color:yellow;
}
footer{
    text-align: right;
    }
    h1{
        text-align: center;
        color:orange;
    }
    p{
        color:salmon;
        font-size: large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .colunas{
        display:flex;
        flex-wrap: wrap;
    }
      .coluna{
        padding: 1em 1em;
      }
      button{
        color:white;
        background-color:red;
      }
      button:hover{
        color:red;
        background-color: white;

      }
     
      .blink {
        animation: blink 1.5s steps(1, end) infinite;
      }
      
      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    .clock {
       position:absolute;
        padding: 20px;
    }
    
    .time {
        font-size: 2rem;
        text-align: right;
    }